# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environments
venv/
ENV/
env/
.venv/

# IDEs / Editors
.vscode/
.idea/

# Django stuff
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# OS files
.DS_Store
Thumbs.db
